<md-toolbar class="side-nav secondary-freedom">
  <div class="side-nav-header">
    <span id="side-nav-title" class="mat-subheading-1">Freedom</span>
  </div>
</md-toolbar>
<div class="content">
  <md-nav-list>
    <md-list-item [routerLink]="['messages']" [routerLinkActive]="['active-link']" class="side-nav-list-item" (click)="goToInbox()">
      <md-icon class="material-icons" id="inboxIcon" alt="my inbox" i18n-alt="inbox|side nav">inbox</md-icon>
      <span>My Inbox</span>
    </md-list-item>
    <md-list-item [routerLink]="['create-message']" [routerLinkActive]="['active-link']" class="side-nav-list-item" (click)="closeSideNav()">
      <md-icon class="material-icons" id="createMessageIcon" alt="create a message" i18n-alt="create message|side nav@@id">create</md-icon>
      <span>Create a message</span>
    </md-list-item>
    <md-list-item [routerLink]="['retrieve-prescription', 'details']" [routerLinkActive]="['active-link']" class="side-nav-list-item" (click)="closeSideNav()">
      <md-icon class="material-icons" id="retrievePrescription" alt="retieve a prescription" i18n-alt="retrieve prescription|side nav@@id">cloud_download</md-icon>
      <span>Retrieve a prescription</span>
    </md-list-item>
    <md-list-item [routerLink]="['teams-activity']" [routerLinkActive]="['active-link']" class="side-nav-list-item" (click)="closeSideNav()">
      <md-icon class="material-icons md-48" id="teamActivityIcon" alt="team activity" i18n-alt="team activity|side nav@@id">timeline</md-icon>
      <span>Team Activity</span>
    </md-list-item>
    <md-list-item [routerLink]="['admin','team']" [routerLinkActive]="['active-link']" class="side-nav-list-item" (click)="closeSideNav()">
      <md-icon class="material-icons md-48" id="adminSettingsIcon" alt="admin settings" i18n-alt="admin settings|side nav@@id">group</md-icon>
      <span>Admin Settings</span>
    </md-list-item>
  </md-nav-list>