@import '../styles.scss';
.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
  z-index: 5;
  transition:transform 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .panel-title {
    position: relative;
    bottom: 100px;
  }

  button {
    background-color: $secondary;
    color: #eee;
    width: 200px;
    height: 70px;

  }
}
.panel1 { 
  background-image:url('/assets/img/development_bg.png'); 
}
.panel2 { 
  background-image:url('/assets/img/design_bg.jpg'); 
  // color: black;
}
.panel3 { 
  background-image:url('/assets/img/games_bg.jpg'); 
}
.panel4 { 
  background-image:url('/assets/img/about_bg.jpg'); 
}
.panel5 { 
  background-image:url('/assets/img/shop_bg2.jpg'); 
}
/* Flex Items */
.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 1 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }
.panel p {
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1.25em;
}
.panel p:nth-child(2) {
  font-size: 1.5em;
}
.panel.open {
  flex: 5;
  font-size:40px;
}

.panels.hidden {
  transform: translateY(-100%);
}

.sections {
  z-index: -1;
}

.nav-container {
  width: 100vw;

  mat-toolbar {
    width: 100vw;
    display: block;
  }
  .menu-icon {
    color: white;
    cursor: pointer;
    position: relative;
    top: 3px;
  }
}
.open-sections {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: block;
}
.nav-title {
  margin-left: 20px;
  color: white;
  text-align: right;
}

.footer-container {
  mat-toolbar {
    margin-top: 100px;
  }
}

