$colorOne: #2B89B8;
$colorTwo: #D1060F;
$colorThree: #DAD2D8;
$colorFour: #143642;
$colorFive: #EC9A29;

md-sidenav {
  width: 200px;
}

app-web-design-section {
  height: 100vh;
  background-color: $colorOne;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}
app-graphic-design-section {
  height: 100vh;
  background-color: $colorTwo;
}
app-illustration-section {
  height: 100vh;
  background-color: $colorThree;
} 
app-about-section {
  height: 100vh;
  background-color: $colorFour;
}
app-shop-section {
  height: 100vh;
  background-color: $colorFive;
}

#close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

#menu-btn {
  position: absolute;
  left: 20px;
  top: 20px;
}

.categories {
  box-shadow: -5px 0 15px #333;
}

#nav-btns {
  z-index: 15000;
}