
.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
  z-index: 5;
  transition:transform 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
  button {
    background-color: #fff;
    color: #444;
  }
}
.panel1 { 
  background-image:url(https://pixabay.com/get/eb33b30f29f5093ed1534705fb094793e477e1d519ac104495f8c879a0ecb0b8/code-2620118_1920.jpg); 
}
.panel2 { 
  background-image:url(https://pixabay.com/get/e832b80e2ef31c22d9584518a34d4391e374e2d504b014419df9c17ea6e4b2/colored-pencils-179167_1920.jpg); 
  color: black;
  

}
.panel3 { 
  background-image:url(https://pixabay.com/get/ec3cb20c29f71c22d9584518a34d4391e374e2d504b014419df9c17ea5ebb2/children-593313_1920.jpg); 
}
.panel4 { 
  background-image:url(https://pixabay.com/get/ef3cb10f20f01c22d9584518a34d4391e374e2d504b014419df9c17ea6ecb7/tie-690084_1920.jpg); 
}
.panel5 { 
  background-image:url(https://pixabay.com/get/eb30b70d20f51c22d9584518a34d4391e374e2d504b014419df9c17ea4edb1/money-256281_1920.jpg); 
}
/* Flex Items */
.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }
.panel p {
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1.25em;
}
.panel p:nth-child(2) {
  font-size: 1.5em;
}
.panel.open {
  flex: 5;
  font-size:40px;
}

.panels.hidden {
  transform: translateY(-100%);
}

.sections {
  z-index: -1;
}

