md-sidenav {
  width: 200px;
}

app-web-design-section {
  width: 20vw;
  height: 100vh;
  background-color: red;
}
app-graphic-design-section {
  width: 20vw;
  height: 100vh;
  background-color: blue;
}
app-illustration-section {
  width: 20vw;
  height: 100vh;
  background-color: green;
} 
app-about-section {
  width: 20vw;
  height: 100vh;
  background-color: yellow;
}
app-shop-section {
  width: 20vw;
  height: 100vh;
  background-color: orange;
}