<div id="features-container">
  <div class="card-container" fxLayout="33">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>No Piggies Here</md-card-title>
        <md-card-subtitle>Pork Free Food Blog</md-card-subtitle>
      </md-card-header>
      <img 
        md-card-image 
        src="assets/img/1.png" 
        alt="No Piggies website">
        <md-card-subtitle>Web Design</md-card-subtitle>
      <md-card-content>
        <p>
          Full stack development. Everything from photography of the food, to the set of the content management system. 
          This project will be complete Q4 2017.
        </p>
      </md-card-content>
      <md-card-actions class="project-footers">
        <button md-button>See Project</button>
        <button (click)="navigateTo('http://www.nopiggieshere.ca')" md-button>Visit Site</button>
      </md-card-actions>
    </md-card>


    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image3"></div>
        <md-card-title>Bubble Bash</md-card-title>
        <md-card-subtitle>Mind-numbing phone game</md-card-subtitle>
      </md-card-header>
      <img 
        md-card-image 
        src="assets/img/3.png" 
        alt="Bubble bash image">
        <md-card-subtitle>Game Development</md-card-subtitle>
      <md-card-content>
        <p>
          First full game developed by Stefan Richardson. From the sounds, to the color scheme, to the animations.
          Go ahead, try it! You won't want to stop!
        </p>
      </md-card-content>
      <md-card-actions class="project-footers">
        <button md-button>See Project</button>
        <button (click)="navigateTo('http://www.richardsondesigns.ca/bubble/bubble.html')" md-button>Visit Site</button>
      </md-card-actions>
    </md-card>


    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image4"></div>
        <md-card-title>Flappy Bot</md-card-title>
        <md-card-subtitle>Time-wasting Phone Game</md-card-subtitle>
      </md-card-header>
      <img 
        md-card-image 
        src="assets/img/6.png" 
        alt="flappy bot image">
        <md-card-subtitle>Game Development</md-card-subtitle>
      <md-card-content>
        <p>
          Developed in JavaScript, this was basically a re-skin of the popular phone game Flappy Bird. 
          This was used a gimmick at a job fair to try and win a prize.
        </p>
      </md-card-content>
      <md-card-actions class="project-footers">
        <button md-button>See Project</button>
        <button (click)="navigateTo('http://stefanrichardson.ca/games/flappyBirds/index.html')" md-button>Visit Site</button>
      </md-card-actions>
    </md-card>

    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image7"></div>
        <md-card-title>Tic-Tac-Toe</md-card-title>
        <md-card-subtitle>Two player game</md-card-subtitle>
      </md-card-header>
      <img 
        md-card-image 
        src="assets/img/8.png" 
        alt="flappy bot image">
        <md-card-subtitle>Game Development</md-card-subtitle>
      <md-card-content>
        <p>
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
          Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        </p>
      </md-card-content>
      <md-card-actions class="project-footers">
        <button md-button>See Project</button>
        <button (click)="navigateTo('http://www.richardsondesigns.ca/ttt/index.html')" md-button>Visit Site</button>
      </md-card-actions>
    </md-card>
  </div>

  <div class="card-container" fxLayout="33">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image2"></div>
        <md-card-title>Birkby Foods Serices Ltd.</md-card-title>
        <md-card-subtitle>Commercial food service</md-card-subtitle>
      </md-card-header>
      <img 
        md-card-image 
        src="assets/img/2.png" 
        alt="Birkby website">
      <md-card-subtitle>Web Design</md-card-subtitle>
      <md-card-content>
        <p>
          The very first website. Simple banner design, simple styling, and fun JavaScript maps. 
          This project was completed in February 2016, as part of a practuum right out of school.
        </p>
      </md-card-content>
      <md-card-actions class="project-footers">
        <button md-button>See Project</button>
        <button (click)="navigateTo('http://birkbyfoods.com/')" md-button>Visit Site</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
