#web-design-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  #web-design-hero {
    background-image: url('/assets/img/keyboard.jpg');
    background-size: cover;
    background-position-x: center;
    filter: contrast(40%) hue-rotate(90deg) brightness(50%);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  #web-design-border {
    position: absolute;
    top: 3vh;
    left: 5%;
    width: 90%;
    height: 90vh;  
    border: 5px solid #ddd;
    border-radius: 15px;
    opacity: 0.1;
  }

  .title-div {
    width: 100%;
    text-align: center;
    color: #ddd;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    font-size: 4em;

    button {
      position: relative;
      width: 400px;
      height: 100px;

      md-icon {
        font-size: 24px;
      }
    }
  }
}
