@import '../../../styles.scss';
#web-design-container {
  width: 100%;
  background-color: $colorThree;

  .title-div {
    width: 100%;
    min-height: 150px;
    text-align: center;
    color: #777;
    font-size: 4em;

    button {
      position: relative;
      width: 400px;
      height: 100px;

      md-icon {
        font-size: 24px;
      }
    }
  }
}
