/* You can add global styles to this file, and also import other style files */
// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'theme';

$colorOne: #2B89B8;
$colorTwo: #D1060F;
$colorThree: #DAD2D8;
$colorFour: #143642;
$colorFive: #EC9A29;

html {
  box-sizing: border-box;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}